
$color_hover: yellow;
$color_wrong: red;
$color_done: green;
$color_text: #000;
$color_light: #fff;

.mark {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 0;
    width: 10px;
    height: 10px;
    &:before,
    &:after {
        font-size: 10px;
        content: '';
        display: block;
        position: absolute;
        top: 50%;
        left: 50%;
        width: 2px;
        height: 1em;
        color: inherit;
        background: currentColor;
    }
    &.mark--wrong {
        color: $color_wrong;
        &:before {
            transform: translate(-50%, -50%) rotate(-45deg);
        }
        &:after {
            transform: translate(-50%, -50%) rotate(45deg);
        }
    }
    &.mark--done {
        color: $color_done;
        &:before {
            content: none;
        }
        &:after {
            height: 5px;
            width: .8em;
            background: transparent;
            border-left: solid;
            border-bottom: solid;
            border-width: 2px;
            border-color: currentColor;
            transform: translate(-50%, -80%) rotate(-45deg);
        }
    }
    [data-contrast=true] & {
        color: $color_light;
    }
}


.colorGame {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: center;
    text-align: initial;
    padding: 40px 20px;
    position: relative;
    &, * {
        box-sizing: border-box;
        user-select: none;
    }
    &[data-status] {
        pointer-events: none;
        & > * {
            opacity: .6;
        }
    }
}

.colorGame__status {
    opacity: 1 !important;
    pointer-events: all;
    min-width: 400px;
    min-height: 200px;
    border-radius: 8px;
    padding: 40px;
    position: absolute;
    z-index: 5;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: $color_light;
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;
}

.colorGame__field {
    display: inline-flex;
    flex-flow: row wrap;
    align-items: flex-start;
    justify-content: flex-start;
    width: 400px;
}

.colorGame__item {
    $offset: 4px;
    flex: 1 1 100%;
    padding: $offset;
    position: relative;
    cursor: pointer;
    background: none;
    border: none;
    transition: .1s ease;
    &:before {
        content: '';
        display: block;
        padding-top: calc(100% - #{$offset});
        color: inherit;
        background-color: currentColor;
        border: 2px solid $color_text;
        border-radius: 8px;
    }
    &[data-wrong=true] {
        &:before {
            border-color: $color_wrong;
        }
    }
    &[data-done=true] {
        cursor: initial;
        pointer-events: none;
        &:before {
            opacity: .6;
            border-color: $color_done;
        }
    }
    &[data-wrong=true],
    &[data-done=true] {
        &[data-contrast=true] {
            &:before {
                border-color: $color_light;
            }
        }
    }
    &[data-active=true] {
        cursor: initial;
        &:before {
            border-color: $color_hover;
        }
    }
}

.colorGame__list {
    min-width: 15em;
    border-left: 2px solid $color_text;
    padding-left: 40px;
    margin-left: 40px;
    display: inline-flex;
    flex-flow: column;
    align-items: flex-start;
    transition: .1s ease;
    &[data-locked=true] {
        pointer-events: none;
        opacity: .6;
    }
}

.colorGame__label {
    background: none;
    border: none;
    margin: .2em 0;
    font-size: 1rem;
    cursor: pointer;
    transition: .1s ease;
    position: relative;
    padding-left: 1em;
    .mark {
        top: 50%;
        left: 0;
        transform: translateY(-50%);
    }
    &[data-wrong=true] {
        color: $color_wrong;
    }
    &[data-done=true] {
        pointer-events: none;
        span {
            text-decoration: line-through;
        }
    }
    &:hover {
        color: $color_hover;
    }
}


.colorGame__options {
    width: 100%;
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: center;
    margin-bottom: 10px;
    & > * + * {
        margin-left: 10px;

    }
}

.colorGame__reset {
    padding: 10px 15px;
    background: $color_light;
    border: 2px solid $color_text;
    border-radius: 8px;
    transition: .1s ease;
    font-size: 1rem;
    line-height: 1em;
    cursor: pointer;
    &:hover {
        background: rgba( $color_light, .6 );
    }
}

.colorGame__attempts {
    padding: 10px 15px;
    border-radius: 8px;
    background: $color_light;
    font-size: 1rem;
    line-height: 1em;
}
